[core]
	excludesfile = ~/.config/git/gitignore
[user]
	email = alxdb@protonmail.com
	name = Alexander Davidson Bryan
	signingkey = 3B3175F7132A5151FDC6915313D0964DD3808231
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
